In [2]:
# Importing python libraries
import pandas as pd
import numpy as np

In [3]:
# Define a custom formatting function to suppress scientific notation
def format_float(x):
    return '%.2f' % x

In [4]:
# Apply the custom formatting function to the entire DataFrame
pd.options.display.float_format = format_float

In [5]:
# Read the CSV file with the specified encoding
df_shootings = pd.read_csv('../data/fatal-police-shootings-data.csv', encoding='latin-1', low_memory=True)

In [6]:
# Read the CSV file with the specified encoding
df_shootings_agencies = pd.read_csv('../data/fatal-police-shootings-agencies.csv', encoding='latin-1', low_memory=True)

In [7]:
df_shootings.head()

,id,date,threat_type,flee_status,armed_with,city,county,state,latitude,longitude,location_precision,name,age,gender,race,race_source,was_mental_illness_related,body_camera,agency_ids
0,3,2015-01-02,point,not,gun,Shelton,Mason,WA,47.25,-123.12,not_available,Tim Elliot,53.00,male,A,not_available,True,False,73
1,4,2015-01-02,point,not,gun,Aloha,Washington,OR,45.49,-122.89,not_available,Lewis Lee Lembke,47.00,male,W,not_available,False,False,70
2,5,2015-01-03,move,not,unarmed,Wichita,Sedgwick,KS,37.69,-97.28,not_available,John Paul Quintero,23.00,male,H,not_available,False,False,238
3,8,2015-01-04,point,not,replica,San Francisco,San Francisco,CA,37.76,-122.42,not_available,Matthew Hoffman,32.00,male,W,not_available,True,False,196
4,9,2015-01-04,point,not,other,Evans,Weld,CO,40.38,-104.69,not_available,Michael Rodriguez,39.00,male,H,not_available,False,False,473

In [8]:
df_shootings.shape

(9567, 19)

In [9]:
df_shootings_agencies.tail()

,id,name,type,state,oricodes,total_shootings
3532,226,Yuba County Sheriff's Office,sheriff,CA,CA05800,5
3533,1874,Yuma County Sheriff's Department,sheriff,AZ,AZ01400,3
3534,1360,Yuma Police Department,local_police,AZ,AZ01405,3
3535,3077,Zapata County Sheriff's Department,sheriff,TX,TX25300,1
3536,75,Zion Police Department,local_police,IL,IL04923,3

In [10]:
df_shootings_agencies.shape

(3537, 6)

In [11]:
df_shootings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9567 entries, 0 to 9566
Data columns (total 19 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          9567 non-null   int64
 1   date                        9567 non-null   object
 2   threat_type                 9499 non-null   object
 3   flee_status                 8260 non-null   object
 4   armed_with                  9355 non-null   object
 5   city                        9497 non-null   object
 6   county                      4845 non-null   object
 7   state                       9567 non-null   object
 8   latitude                    8512 non-null   float64
 9   longitude                   8512 non-null   float64
 10  location_precision          8512 non-null   object
 11  name                        9222 non-null   object
 12  age                         9182 non-null   float64
 13  gender                      9541 non-null   object
 14  race                        8444 non-null   object
 15  race_source                 8470 non-null   object
 16  was_mental_illness_related  9567 non-null   bool
 17  body_camera                 9567 non-null   bool
 18  agency_ids                  9567 non-null   object
dtypes: bool(2), float64(3), int64(1), object(13)
memory usage: 1.3+ MB

In [12]:
df_shootings_agencies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3537 entries, 0 to 3536
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               3537 non-null   int64
 1   name             3537 non-null   object
 2   type             3537 non-null   object
 3   state            3537 non-null   object
 4   oricodes         3409 non-null   object
 5   total_shootings  3537 non-null   int64
dtypes: int64(2), object(4)
memory usage: 165.9+ KB

In [13]:
df_shootings.head(1)

,id,date,threat_type,flee_status,armed_with,city,county,state,latitude,longitude,location_precision,name,age,gender,race,race_source,was_mental_illness_related,body_camera,agency_ids
0,3,2015-01-02,point,not,gun,Shelton,Mason,WA,47.25,-123.12,not_available,Tim Elliot,53.00,male,A,not_available,True,False,73

In [14]:
df_check = df_shootings[df_shootings['agency_ids'] == '73']

In [15]:
df_check

,id,date,threat_type,flee_status,armed_with,city,county,state,latitude,longitude,location_precision,name,age,gender,race,race_source,was_mental_illness_related,body_camera,agency_ids
0,3,2015-01-02,point,not,gun,Shelton,Mason,WA,47.25,-123.12,not_available,Tim Elliot,53.00,male,A,not_available,True,False,73
629,758,2015-08-21,point,not,gun,Grapeview,Mason,WA,47.29,-122.92,not_available,Timmy Walling,57.00,male,W,not_available,True,False,73
5164,5685,2020-03-24,attack,car,vehicle,Shelton,NaN,WA,47.33,-122.96,not_available,Kathryn R. Hale,32.00,female,W,not_available,False,False,73

In [21]:
df_shootings['body_camera'].value_counts()

body_camera
False    7958
True     1609
Name: count, dtype: int64

In [16]:
df_shootings_agencies.head(3)

,id,name,type,state,oricodes,total_shootings
0,3145,Abbeville County Sheriff's Office,sheriff,SC,SC00100,1
1,2576,Aberdeen Police Department,local_police,WA,WA01401,1
2,2114,Abilene Police Department,local_police,TX,TX22101,4

In [17]:
df_check_agencies = df_shootings_agencies[df_shootings_agencies['id'] == 73]

In [19]:
df_check_agencies

,id,name,type,state,oricodes,total_shootings
1953,73,Mason County Sheriff's Office,sheriff,WA,WA02300,3

In [22]:
# Convert "id" in agencies_df to string
df_check_agencies['id'] = df_check_agencies['id'].astype(str)

/var/folders/c7/h2h7b5ns6cb203lw7c9g07_40000gn/T/ipykernel_57250/1129647825.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_check_agencies['id'] = df_check_agencies['id'].astype(str)

In [24]:


df_shootings_agencies['id'] = df_shootings_agencies['id'].astype(str)
df_shootings['agency_ids'] = df_shootings['agency_ids'].astype(str)

# Attempt the merge again on the corrected data types
merged_df = pd.merge(df_shootings_agencies, df_shootings, left_on='id', right_on='agency_ids', how='left')

# Return the shape of the merged dataset to confirm successful join
merged_df.shape

(9426, 25)

In [25]:
merged_df.isnull().sum()

id_x                             0
name_x                           0
type                             0
state_x                          0
oricodes                       155
total_shootings                  0
id_y                           473
date                           473
threat_type                    536
flee_status                   1689
armed_with                     670
city                           531
county                        4937
state_y                        473
latitude                      1450
longitude                     1450
location_precision            1450
name_y                         805
age                            843
gender                         498
race                          1520
race_source                   1495
was_mental_illness_related     473
body_camera                    473
agency_ids                     473
dtype: int64

In [ ]:
# Check if IDs from agencies_df are in data_df (after correcting data types)
agencies_df['in_data_df'] = agencies_df['id'].isin(data_df['agency_ids'])

In [ ]:
# Display the first few rows of the merged dataset and the updated agencies dataset
merged_df.head(), agencies_df.head()